.week-selector-wrapper {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 100%;

    span {
        width: 100%;
        text-align: center;
        white-space: pre-line;
    }
}